<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72220156624-l02llpjonnn9p6thnutr1gvubo3fiktp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72220156624-l02llpjonnn9p6thnutr1gvubo3fiktp</string>
	<key>API_KEY</key>
	<string>AIzaSyBULY3zyp24hgD4vyOVLiY7KDX2JHwzTeM</string>
	<key>GCM_SENDER_ID</key>
	<string>72220156624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.valstore</string>
	<key>PROJECT_ID</key>
	<string>valstore-c6e9a</string>
	<key>STORAGE_BUCKET</key>
	<string>valstore-c6e9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72220156624:ios:ef512fcf52d434ab54b4d5</string>
</dict>
</plist>